<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>All Blogs</h1>
    <div class="blogs">

        
        <% names.forEach((n,i) =>{ %>
           <ul>

               <span class="makeB"><%= n %> </span><br>
            </ul>
    
            <% blogs.forEach((b,index) => { %>
                <ul>
                    <% if(index==i) {%>
                    <!-- <li> -->
                         <%= i+1 %>....
                        
                        <%= b %>
                    <!-- </li> -->
                </ul>
                <% } %>
                
                <%  }); %>
            <% })  %>
            </div>
   
    
   
</body>
</html>